<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,694}</string>
                <key>spriteSourceSize</key>
                <string>{657,694}</string>
                <key>textureRect</key>
                <string>{{657,694},{657,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,694}</string>
                <key>spriteSourceSize</key>
                <string>{657,694}</string>
                <key>textureRect</key>
                <string>{{0,0},{657,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,694}</string>
                <key>spriteSourceSize</key>
                <string>{657,694}</string>
                <key>textureRect</key>
                <string>{{657,0},{657,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,694}</string>
                <key>spriteSourceSize</key>
                <string>{657,694}</string>
                <key>textureRect</key>
                <string>{{0,694},{657,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7-10.png</string>
            <key>size</key>
            <string>{1314,1388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85040a0f77c4b4d592a6a658082334ac:b446629ce349d585df929afb744c5e13:48ad455b4d2727e22e7d86d83a80747c$</string>
            <key>textureFileName</key>
            <string>7-10.png</string>
        </dict>
    </dict>
</plist>
