<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_remove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,140}</string>
                <key>spriteSourceSize</key>
                <string>{320,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{320,0},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{0,140},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtruot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,56}</string>
                <key>textureRect</key>
                <string>{{160,140},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtruot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{300,140},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtruot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{380,140},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconSetting.png</string>
            <key>size</key>
            <string>{460,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d46c8d7796580df1bd8f276f252436b:71fe81f5876988a058ae210c602cdde2:6e9cbe01f272c985c0c9a23ba19b13ba$</string>
            <key>textureFileName</key>
            <string>iconSetting.png</string>
        </dict>
    </dict>
</plist>
