<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{0,160},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{180,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec74ea2396d3e979fd7902a0479d952c:82ba23353c3744534882ce4a211eee99:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
